.window-buttons {
  -webkit-app-region: no-drag;
  display: flex;
}

.window-button {
  padding: 4px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-items: center;
  cursor: pointer;
  color: black;
}

.window-buttons.light .window-button {
  color: white;
}

.window-button:hover,
.window-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}
